<form action="{%url 'home'%}" method="post">
{% csrf_token %}
{{form.as_p}}
<input name="submit" type="submit" value="Hash"/>
</form>

<h2 id="quickhash"></h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('#id_text').keyup((event) => {
        console.log(event);
        let text = event.target.value;
        $.ajax({
            url: '/quickhash',
            data: {text: text},
            dataType: 'json',
            success: (data) => {
                $('#quickhash').text(data.hash);
            }
        }); 
    });
</script>